/* Import Tailwind's base, component, and utility styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define a custom utility class for balanced text wrapping */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Define base styles within the 'base' layer */
@layer base {
  :root {
    --background: 220 60% 97%;
    --foreground: 0 0% 20%;
    --card: 220 38% 98%;
    --card-foreground: 0 0% 20%;
    --popover: 220 38% 98%;
    --popover-foreground: 0 0% 20%;
    --primary: 258 100% 63%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 80% 70%;
    --secondary-foreground: 0 0% 100%;
    --accent: 48 100% 67%;
    --accent-foreground: 0 0% 20%;
    --muted: 0 0% 46%;
    --muted-foreground: 220 8% 52%;
    --destructive: 0 100% 68%;
    --destructive-foreground: 0 0% 100%;
    --border: 214 31.8% 91.4%;
    --input: 214 31.8% 91.4%;
    --ring: 258 100% 63%;
    --chart-1: 48 100% 67%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 20% 10%;
    --foreground: 0 0% 90%;
    --card: 220 20% 15%;
    --card-foreground: 0 0% 90%;
    --popover: 220 20% 15%;
    --popover-foreground: 0 0% 90%;
    --primary: 258 100% 63%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 80% 70%;
    --secondary-foreground: 0 0% 100%;
    --accent: 48 100% 67%;
    --accent-foreground: 0 0% 20%;
    --muted: 0 0% 46%;
    --muted-foreground: 0 0% 80%;
    --destructive: 0 100% 68%;
    --destructive-foreground: 0 0% 100%;
    --border: 214 31.8% 30%;
    --input: 214 31.8% 30%;
    --ring: 258 100% 63%;
    --radius: 0.5rem;
    --chart-1: 48 100% 67%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
